.cards{
	display: flex;
}
.card{margin: 10px}

* {
      font-family: 'Stylish', sans-serif;
    }
    .wrap {
      width: 900px;
      margin: auto;
    }
    .comment {
      color: blue;
      font-weight: bold;
    }
    .container {
    	width: 900px !important;
    }
    .form-post {
      max-width: 500px;
      padding: 2rem;
      margin: 2rem auto;
      border-color: #e9ecef;
      border-radius: 0.3rem;
      border: solid;
      display: block;
    }